.config{

    position: relative;

    @extend .bg-01-02;

    .logo-ems-quiz{
        position: absolute;
        width: 355px;
        left: 359px;
        top: 28px;
    }

    .status-rede{
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 18rem;
    }

    .status-img{
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 27.5rem;
    }

    .btn-sync{
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 35rem;
    }

}