.form{
    @extend .bg-01-02;

    .logo-ems-quiz{
        position: absolute;
        width: 355px;
        left: 359px;
        top: 28px;
    }

    .title{
        top: 19rem;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        color: $white;
        font-weight: 600;
        font-size: 2rem;
        text-transform: uppercase;
    }

    .sub-title{
        font-size: 1.3rem;
        position: absolute;        
        margin: auto;
        top: 22rem;
        left: 0;
        right: 0;
        text-align: center;
        color: $white;
    }

    .bt-send, .bt-next-step{
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 7rem;
    }

    .lead-form{
        position: absolute;
        width: 600px;
        left: 0;
        right: 0;
        margin: auto;
        top: 26rem;
    }

    input{
        display: block;
        width: 100%;
        height: 30px;
        margin: 20px auto;
        outline:none;
        font-size: 1rem;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        padding: 10px 20px;
        border: 2px solid #9200f0;
        -webkit-border-radius: 20px;
        border-radius: 30px;
        color: $white;
        font-weight: 600;
        -o-text-overflow: clip;
        text-overflow: clip;
        background: #f4a0e6;
        -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
        box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
        -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
        -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
        -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
        transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
      }
      ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $white;
        font-weight: 600;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: $white;
        font-weight: 600;
      }
      :-ms-input-placeholder { /* IE 10+ */
        color: $white;
        font-weight: 600;
      }
      :-moz-placeholder { /* Firefox 18- */
        color: $white;
        font-weight: 600;
      }
      
    

}