.questions{

    position: relative;

    @extend .bg-02;


    .obrigado-img{
        position: absolute;
        top: 21rem;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 9;
    }

    .choice-callback{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.49);
        z-index: 10;
        img{
            position: absolute;
            top: 19rem;
            left: 26rem;
        }
    }

    .time-bar{
        position: absolute;
        bottom: 6.5rem;
        left: 16rem;
        width: 500px;
        height: 20px;
        border-radius: 15px;
        background-color: #681077;
        border: 1px solid #00faff;
          
        .bar {
            height: 100%;
            color: $black;
            font-size: 13px;
            font-weight: 600;
            text-align: right;
            padding: 0 10px;
            line-height: 22px; /* same as #progressBar height if we want text middle aligned */
            width: 0;
            border-radius: 15px;
            background-color: #00faff;
            box-sizing: border-box;
        }
    }

    .logo-ems-quiz{
        position: absolute;
        width: 355px;
        left: 359px;
        top: 28px;
    }

    .hits{
        float: left;
        width: 249px;
        height: 96px;
        color: $white;
        background-color: rgba(0, 0, 0, 0.49);
        border-radius: 0 0 30px;

        img{
            float: left;
            padding: 22px 0 22px 22px;
        }

        span{
            font-size: 1.5rem;
            width: 89px;
            float: left;
            font-weight: 600;
            text-align: center;
            padding-top: 32px;
        }
    }

    .errors{
        width: 249px;
        height: 96px;
        float: right;
        color: $white;
        background-color: rgba(0, 0, 0, 0.49);
        border-radius: 0 0 0 30px;

        img{
            float: left;
            padding: 22px 0 22px 22px;
        }

        span{
            font-size: 1.5rem;
            width: 89px;
            float: left;
            font-weight: 600;
            text-align: center;
            padding-top: 32px;
        }
    }
    .tab{
        position: absolute;
        width: 787px;
        height: 483px;
        color: $white;
        font-weight: 600;
        font-size: 1.3rem;
        top: 216px;        
        left: 132px;
        background-image: url("../img/bg-02-tab.png");

        .list-leads{
            top: 6.5rem;
            position: absolute;
            padding-left: 50px;
            height: 320px;
            width: 700px;
            overflow-y: scroll;
        }

        .list-leads-title{
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            width: fit-content;
            top: 4rem;
            text-align: center;
        }

        .question{
            padding-top: 100px;
            padding-left: 40px;
            padding-bottom: 20px;
        }

        .alternatives{
            padding-left: 40px;            

            button{
                @extend .animated;
                @extend .fadeIn;
                width: 97%;
                border: none;
                color: $white;
                font-weight: 600;
                font-size: 1rem;
                background-color: transparent;
                margin-top: 10px;
                margin-bottom: 10px;

                .choice{
                    display:block;
                    border-radius: 50%;
                    width: 38px;
                    height: 38px;
                    float: left;
                    background-color: #8f00ff;
                    border-radius: 38px;
                    margin-right: 15px;
                    line-height: 38px;
                    text-align: center;

                  }

                  .alternative{
                    padding-top: 7px;
                    float: left;
                  }

            }

        }
    }
}