.starting{

    position: relative;

    @extend .bg-01;

    .logo-ems-quiz{

        top: 34px;
        bottom: 0;
        position: absolute;
        left: 61px;
        right: 0;
        margin: auto;

    }

    .btn-starting{
        position: absolute;
        bottom: 83px;
        left: 24px;
        right: 0;
        margin: auto;
        border: 0;
    }

    .btn-config{
        position: absolute;
        right: 20px;
        top: 20px;
    }

}