@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$white: #ffffff;
$black: #000000;

html{   
    font-family: 'Montserrat', sans-serif; 
    margin: 0;
    padding: 0;
    overflow: hidden !important;
    @extend .full-screen;
    @extend .webkit-base;
    
    body{           
        margin: 0;
        padding: 0;
        overflow: hidden !important;
        @extend .full-screen;   
        @extend .webkit-base;  

        .app{
            @extend .full-screen;
        }
    }

    .img-fluid{
        max-width: 100%;
        height: auto;
    }

}

::-webkit-scrollbar {
    display: none; 
}

.webkit-base{
    -webkit-user-select: none;
    -webkit-appearance: none;	
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}
.d-none{
    display: none;
}

.full-screen{
    width: 100%;
    height: 100vh;
}
.botao-voltar{
    position: absolute;
    bottom: 0;
    right: 20px;
}
.bg-01{
    background-image: url("../img/bg-01.jpg");
    @extend .bg-base;
}
.bg-01-02{
    background-image: url("../img/bg-01-02.jpg");
    @extend .bg-base;
}

.bg-02{    
    background-image: url("../img/bg-02.jpg");
    @extend .bg-base;
}

.bg-03{    
    background-image: url("../img/bg-03.jpg");
    @extend .bg-base;
}

.bg-base{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

@import "animate";

@import "starting";

@import "questions";

@import "form";

@import "config";